tmp
build
dist
*~
MANIFEST
atest/results
utest/jasmine-results
*~
.idea
.*project
*.pyc
*$py.class
ext-lib
*.iml
.DS_Store
doc/api/_build
doc/libraries/*.html
doc/userguide/RobotFrameworkUserGuide.html
src/robotframework.egg-info
01_starter/log.html
01_starter/output.xml
01_starter/report.html
02_action/log.html
02_action/output.xml
02_action/report.html
log.html
output.xml
report.html
*log.html
*output.xml
*report.html
*.png